.register {
    height: calc(100vh - 40px);
    padding-top: 40px;
}

.modal-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0%;
    left: 0%;
    background-color: rgb(0,0,0,.6);
}

.authentication-modal {
    height: 215px;
    width: 90%;
    background-color: #F6F7F8;
    position: fixed;
    top: 28%;
    left: 50%;
    z-index: 100;
    margin-left: -45%;
    border-radius: 10px;
    border: 2px solid slategray;
    z-index: 10;
    text-align: center;
    box-shadow: 5px 5px 5px #1D1D26;
}

.authentication-modal h6 {
    margin: 10px 0px 20px 0px;
}

.authentication-modal input {
    height: 32px;
    width: 200px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-bottom: 7px;
    padding: 0px 7px;
    text-align: center;
}

.modal-button-one {
    height: 30px;
    width: 100px;
    border: .5px solid #004A86;
    border-radius: 20px 0px 0px 20px;
    background-image: linear-gradient(#0073D1, #005FAC, #0073D1);
    color: white;
}

.modal-button-one:hover {
    background-image: none;
    background-color: #005499;
}

.modal-button-one:active {
    background-image: none;
    background-color: #5C99CA;
}


.modal-button-two {
    height: 30px;
    width: 100px;
    border: .5px solid #004A86;
    border-radius: 0px 20px 20px 0px;
    background-image: linear-gradient(#0073D1, #005FAC, #0073D1);
    color: white;
}

.modal-button-two:hover {
    background-image: none;
    background-color: #005499;
}

.modal-button-two:active {
    background-image: none;
    background-color: #5C99CA;
}

.login-modal-button {
    height: 30px;
    width: 200px;
    border: .5px solid #004A86;
    border-radius: 20px;
    background-image: linear-gradient(#0073D1, #005FAC, #0073D1);
    color: white;
}

.login-modal-button:hover {
    background-image: none;
    background-color: #005499;
}

.login-modal-button:active {
    background-image: none;
    background-color: #5C99CA;
}

@media(min-width: 500px){
    .authentication-modal {
        width: 320px;
        margin-left: -160px;
    }
}