.cart-desktop-view {
    background-color: #F6F7F8;
    box-shadow: 10px 0px 10px #1D1D26, -10px 0px 10px #1D1D26;
    box-sizing: border-box;
}

.cart {
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
    width: 100%;
}

.qty-dropdown-menu {
    height: 100px;
    width: 100px;
    background-color: white;
}

.user-cart {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 0px 10px;
    border-bottom: 1px solid gray;
}

.user-cart-picture-div {
    height: 90px;
    width: 35%;
    background-color: gray;
}

.cart-item-picture {
    height: 90px;
    width: 140px;
}

.cart-information {
    height: 90px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.cart-longboard-title {
    height: 35%;
    display: flex;
    justify-content: space-around;
    padding: 0px 7px;
}

.delete-cart-item {
    margin-top: 4px;
}

.cart-flexed-information {
    height: 65%;
    display: flex;
}

.cart-price {
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
}

.cart-qty-div {
    height: 100%;
    width: 50%;
}

.cart-item-qty {
    height: 50%;
    border-bottom: 1px solid black;
}

.cart-data {
    margin-top: 12px;
    margin-left: 10px;
}

.qty-dropdownbutton {
    margin-top: 10px;
    margin-right: 8px;
}

@media(min-width: 500px){
    .cart {
        padding-top: 50px;
    }

    .user-cart {
        height: 140px;
    }

    .cart-longboard-title {
        font-size: 20px;
        padding: 0px;
    }

    .delete-cart-item {
        font-size: 20px;
    }

    .cart-item-picture {
        height: 115px;
        width: 200px;
    }

    .cart-flexed-information {
        height: 140px;
    }

    .cart-price {
        height: 90px;
    }

    .cart-qty-div {
        height: 140px;
    }

    .cart-data {
        font-size: 20px;
        margin-top: 25px;
    }

    .qty-dropdownbutton {
        font-size: 20px;
        margin-top: 24px;
    }
}

@media(min-width: 750px){
    .cart-flex {
        display: flex;
        justify-content: center;
        box-sizing: border-box;
        padding-top: 50px;
    }

    .cart {
        padding-top: 10px;
        width: 70vw;
    }
}

@media(min-width: 1000px){
    .cart-desktop-view {
        width: 100%;
        display: inline-block;
        padding-left: 50px;
        padding-right: 50px;
    }

    .cart-flex {
        padding-top: 60px;
        max-width: 1000px;
    }

    .cart {
        margin-right: 20px;
    }
}

@media(min-width: 1250px){
    .cart-desktop-view {
        width: 1250px;
    }
}

@media(min-width: 1350px){
    .cart-desktop-view {
        width: 1350px;
        padding: 0px 0px 0px 160px;
    }
}