h4 {
    padding-top: 70px;
}

.Landing {
    min-height: 100vh;
    box-sizing: border-box;
    padding-top: 40px;
}

.Carouselimage-one {
    height: 200px;
    width: 100%;
    background-image: url("./drew-hays-161811-unsplash.jpg");
    background-size: cover;
}

.Carouselimage-two {
    height: 200px;
    width: 100%;
    background-image: url("./sasha-bond-52826-unsplash.jpg");
    background-size: cover;
}

.Carouselimage-three {
    height: 200px;
    width: 100%;
    background-image: url("./jevgenij-voronov-63310-unsplash.jpg");
    background-size: cover;
}

.custom-btn-group {
    width: 100%;
}

.custom-btn {
    height: 38px;
    width: 50%;
    /* background-color: #343A40; */
    background-color: #0367BF;
    color: white;
    border: .5px solid black;
}

.custom-btn:hover {
    background-color: #2A2A2A;
    outline-color: #2A2A2A;
}

.Landinglinks {
    display: none;
}

.Landingimage-one {
    height: 175px;
    width: 100%;
    background-image: url("./drew-hays-161811-unsplash.jpg");
}

.Landingimage-two {
    height: 175px;
    width: 100%;
    background-image: url("./sasha-bond-52826-unsplash.jpg");
    background-size: cover;
}

.Landingimage-three {
    height: 175px;
    width: 100%;
    background-image: url("./jevgenij-voronov-63310-unsplash.jpg");
    background-size: cover;
}