h4 {
    padding-top: 70px;
}

.Landing {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 40px;
}

.Carouselimage-one {
    height: 35vh;
    width: 100%;
    background-image: url("./drew-hays-161811-unsplash.jpg");
    background-size: cover;
}

.Carouselimage-two {
    height: 35vh;
    width: 100%;
    background-image: url("./sasha-bond-52826-unsplash.jpg");
    background-size: cover;
}

.Carouselimage-three {
    height: 35vh;
    width: 100%;
    background-image: url("./jevgenij-voronov-63310-unsplash.jpg");
    background-size: cover;
}

.custom-btn-group {
    width: 100%;
}

.custom-btn {
    height: 38px;
    width: 50%;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);
    color: white;
    border: .5px solid #011D6E;
}

.custom-btn:hover {
    background-image: none;
    background-color: #011244;
}

.Landinglinks {
    display: none;
}

.Landingimage-one {
    height: 175px;
    width: 100%;
    background-image: url("./drew-hays-161811-unsplash.jpg");
}

.Landingimage-two {
    height: 175px;
    width: 100%;
    background-image: url("./sasha-bond-52826-unsplash.jpg");
    background-size: cover;
}

.Landingimage-three {
    height: 175px;
    width: 100%;
    background-image: url("./jevgenij-voronov-63310-unsplash.jpg");
    background-size: cover;
}

@media(min-width: 500px){
    .Carouselimage-one {
        height: 45vh;
        max-width: 100vw;
    }
    .Carouselimage-two {
        height: 45vh;
    }
    .Carouselimage-three {
        height: 45vh;
    }
    .custom-btn {
        display: none;
    }
    .Landinglinks {
        display: inline-block;
        margin: 0px;
        font-size: 18px;
    }
    .Landingblurb {
        display: flex;
        justify-content: space-evenly;
        padding: 5px 5px 0px 5px;
    }
    .Landingblurb-two {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        padding: 5px 5px 0px 5px;
    }
    .Landingimage-one {
        max-width: 55%;
    }
    .Landingimage-two {
        max-width: 55%;
    }
    .Landingimage-three {
        max-width: 55%;
    }
    .Landingimage-one h4 {
        display: none;
    }
    .Landingimage-two h4 {
        display: none;
    }
    .Landingimage-three h4 {
        display: none;
    }
    .Landing-text {
        max-height: 100%;
        max-width: 50%;
    }
}