h5 {
    margin: 0px;
}

.Design {
    max-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
}

.customize-step-prompt {
    height: 40px;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
}

.active-customize-step-btn {
    height: 40px;
    width: 16vw;
    background-color: #494949;
    color: white;
    border: 1px solid rgb(186, 186, 186);
}

.customize-step-btn {
    height: 40px;
    width: 16vw;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
}

.custom-board-image-div {
    height: 60vh;
    box-sizing: border-box;
    padding-top: 5px;
    background-image: url('https://s3-us-west-1.amazonaws.com/old-dog-new-trick-longboards-bucket/graphpaper.png');
    background-size: contain;
    border-bottom: 2px solid #343A40;
}

.custom-board-graphics-div {
    height: calc(60vh - 40px);
    box-sizing: border-box;
    padding-top: 5px;
    background-color: gray;
}

.custom-step-name {
    font-size: 24px;
    color: white;
}

.custom-board-parts-div {
    height: calc(100vh - 60vh - 120px);
    max-width: 100vw;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: auto;
}

.custom-parts-card {
    min-height: 110px;
    min-width: 98%;
    background-color: white;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}

/* below are placeholders for the custom parts div placement */

.custom-part-image {
    height: 100px;
    color: white;
}

.custom-part-info {
    height: 100px;
    width: 55%;
    border: 1px solid gray;
}