h5 {
    margin: 0px;
}

.Design {
    max-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
}

.customize-step-prompt {
    height: 40px;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
}

.active-customize-step-btn {
    height: 40px;
    width: 16vw;
    background-color: #494949;
    color: white;
    border: 1px solid rgb(186, 186, 186);
}

.customize-step-btn {
    height: 40px;
    width: 16vw;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
}

.custom-board-image-div {
    height: 60vh;
    box-sizing: border-box;
    padding-top: 5px;
    background-image: url('https://s3-us-west-1.amazonaws.com/old-dog-new-trick-longboards-bucket/graphpaper.png');
    background-size: contain;
    border-bottom: 2px solid #343A40;
}

.custom-board-graphics-div {
    height: calc(60vh - 40px);
    box-sizing: border-box;
    padding-top: 5px;
    background-color: gray;
}

.custom-step-name {
    font-size: 24px;
    color: black;
}

.custom-board-parts-div {
    height: calc(100vh - 60vh - 120px);
    max-width: 100vw;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: auto;
}

.custom-parts-card {
    min-height: 110px;
    min-width: 98%;
    background-color: white;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    margin: 5px 0px;
    display: flex;
    justify-content: space-between;
}

/* below are placeholders for the custom parts div placement */

.custom-part-image {
    max-height: 100px;
    color: white;
}

.custom-part-info {
    height: 100px;
    width: 55%;
    border: 1px solid gray;
}

.selected-board {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54%;
    margin-left: -30px;
    z-index: 2;
}

.selected-board-top {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54%;
    margin-left: -100px;
    z-index: 2;
}

.selected-board-bottom {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -54%;
    margin-right: -100px;
    z-index: 2;
}

.selected-grip {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54%;
    margin-left: -30px;
    z-index: 3;
}

.selected-grip-top {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54%;
    margin-left: -100px;
    z-index: 3;
}

.selected-trucks-top-front-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 10px);
    margin-left: -96px;
    z-index: 1;
}

.selected-trucks-top-back-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 235px);
    margin-left: -96px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-trucks-bottom-front-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 10px);
    margin-right: -96px;
    z-index: 3;
}

.selected-trucks-bottom-back-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 235px);
    margin-right: -96px;
    z-index: 3;
    transform: rotate(180deg)
}

.selected-trucks-top-front-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 18px);
    margin-left: -96px;
    z-index: 1;
}

.selected-trucks-top-back-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 257px);
    margin-left: -96px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-trucks-bottom-front-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 18px);
    margin-right: -96px;
    z-index: 3;
}

.selected-trucks-bottom-back-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 257px);
    margin-right: -96px;
    z-index: 3;
    transform: rotate(180deg)
}

.selected-wheels-top-front-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 12px);
    margin-left: -110px;
    z-index: 1;
}

.selected-wheels-top-back-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 234px);
    margin-left: -112px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-wheels-bottom-front-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 12px);
    margin-right: -112px;
    z-index: 3;
}

.selected-wheels-bottom-back-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 234px);
    margin-right: -111px;
    z-index: 3;
    transform: rotate(180deg)
}

.selected-wheels-top-front-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 19px);
    margin-left: -110.5px;
    z-index: 1;
}

.selected-wheels-top-back-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 257px);
    margin-left: -111px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-wheels-bottom-front-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 19px);
    margin-right: -111px;
    z-index: 3;
}

.selected-wheels-bottom-back-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 257px);
    margin-right: -111px;
    z-index: 3;
    transform: rotate(180deg)
}

.board-outline {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54%;
    margin-left: -30px;
    z-index: 6;
}

/* working on these */

.selected-trucks-front-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 8px);
    margin-right: -26px;
    z-index: 6;
}

.selected-trucks-back-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 235px);
    margin-right: -26px;
    z-index: 6;
    transform: rotate(180deg)
}

.selected-trucks-front-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 18px);
    margin-right: -26px;
    z-index: 6;
}

.selected-trucks-back-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 257px);
    margin-right: -26px;
    z-index: 6;
    transform: rotate(180deg)
}

.selected-wheels-front-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 10px);
    margin-right: -42px;
    z-index: 6;
}

.selected-wheels-back-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 235px);
    margin-right: -41px;
    z-index: 6;
    transform: rotate(180deg)
}

.selected-wheels-front-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 19px);
    margin-right: -41px;
    z-index: 6;
}

.selected-wheels-back-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 257px);
    margin-right: -41px;
    z-index: 6;
    transform: rotate(180deg)
}

.uploaded-graphic {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% - 5px);
    margin-left: -150px;
    z-index: 5
}