h6 {
    padding-top: 5px;
    margin: 0px;
}

.user {
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
}

.user-information {
    height: 90px;
    box-sizing: border-box;
    padding-top: 10px;
}

.edit-inputs {
    height: 25px;
    width: 140px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 7px;
    padding: 0px 7px;
    text-align: center;
}

.edit-icons {
    font-size: 18px;
    margin: 0px 5px;
}

.order-history {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 0px 10px;
    border-bottom: 1px solid gray;
}

.order-history-picture-div {
    height: 90px;
    width: 35%;
    background-color: gray;
}

.order-item-picture {
    height: 90px;
    width: 100%;
}

.order-history-information {
    height: 90px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.order-history-longboard-title {
    height: 35%;
    display: flex;
    justify-content: space-evenly;
}

.order-history-flexed-information {
    height: 65%;
    display: flex;
}

.order-history-price {
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
}

.order-qty-date {
    height: 100%;
    width: 50%;
}

.order-history-qty {
    height: 50%;
    border-bottom: 1px solid black;
}

.register-link {
    margin: 0px;
}

.order-information {
    margin: 0px;
}

@media(min-width: 500px){
    .user {
        padding-top: 50px;
    }
}