h6 {
    padding-top: 5px;
    margin: 0px;
}


.user {
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
    background-color: #F6F7F8;
    box-shadow: 10px 0px 10px #1D1D26, -10px 0px 10px #1D1D26;
}

.user-information {
    height: 90px;
    box-sizing: border-box;
    padding-top: 10px;
}

.edit-inputs {
    height: 25px;
    width: 140px;
    border: 1px solid gray;
    border-radius: 20px;
    margin-right: 5px;
    margin-bottom: 7px;
    padding: 0px 7px;
    text-align: center;
}

.edit-icons {
    font-size: 18px;
    margin: 0px 5px;
}

.order-history-header {
    margin-bottom: 10px;
}

.order-history {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 0px;
    margin: 0px 10px;
    border-bottom: 1px solid gray;
}

.order-item-picture {
    height: 90px;
    width: 140px;
}

.order-history-information {
    height: 90px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.order-history-longboard-title {
    height: 35%;
    display: flex;
    justify-content: center;
}

.order-history-flexed-information {
    height: 65%;
    display: flex;
}

.order-history-price {
    height: 100%;
    width: 50%;
    border-right: 1px solid black;
}

.order-history-price p {
    margin-top: 14px;
    margin-left: 5px;
}

.order-qty-date {
    height: 100%;
    width: 50%;
}

.order-history-qty {
    height: 50%;
    border-bottom: 1px solid black;
}

.register-link {
    margin: 0px;
}

.order-information {
    margin: 0px;
}

@media(min-width: 500px){
    .user {
        padding-top: 50px;
    }

    .order-history-header {
        margin-bottom: 15px;
    }

    .order {
        display: flex;
        justify-content: center;
        width: 100vw;
    }

    .order-history {
        min-width: 500px;
    }

    .order-item-picture {
        height: 115px;
        width: 200px;
    }

    .order-history-information {
        height: 115px;
    }

    .order-history-longboard-title {
        height: 30px;
    }

    .order-history-price p {
        margin-top: 21px;
        margin-left: 25px;
        font-size: 19px;
    }

    .order-qty-date {
        margin-right: 25px;
    }

    .order-history-qty {
        box-sizing: border-box;
        padding-top: 5px;
    }

    .order-history-date {
        box-sizing: border-box;
        padding-top: 5px;
    }

    .order-qty-date p {
        font-size: 17px;
        margin: 0px;
    }
}

@media(min-width: 750px){
    h6 {
        font-size: 22px;
        margin-bottom: 10px;
    }

    .order-history-header {
        margin-bottom: 20px;
        font-size: 22px;
    }

    .order-history {
        min-width: 700px;
    }

    .order-history-longboard-title {
        height: 40px;
    }

    .order-item-picture {
        height: 140px;
        width: 240px;
    }

    .order-history-information {
        height: 140px;
    }

    .order-history-price p {
        margin-top: 30px;
    }
}

@media(min-width: 1250px){
    .user {
        width: 1250px;
        display: inline-block;
    }
    
    .order {
        width: 1250px;
    }
}

@media(min-width: 1350px){
    .user {
        width: 1350px;
    }

    .order {
        width: 1350px;
    }
}