.About{
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;
    padding: 40px 0px;
    background-color: #F6F7F8;
    box-shadow: 10px 0px 10px #1D1D26, -10px 0px 10px #1D1D26;
}

@media(min-width: 1250px){
    .About {
        width: 1250px;
        display: inline-block;
        padding: 60px 50px 0px 50px;
    }
}

@media(min-width: 1350px){
    .About {
        width: 1350px;
    }
}