.custom-graphic-container {
    height: calc(100vh - 120px);
    background-color: #F6F7F8;
}

.custom-graphic-container h6 {
    display: none;
}

.custom-image {
    height: 55vh;
}

.custom-board-btn {
    height: 38px;
    width: 50%;
    background-image: linear-gradient(#0073D1, #005FAC, #0073D1);
    color: white;
    border: .5px solid #0069BE;
}

.custom-board-btn:hover {
    background-image: none;
    background-color: #005499;
}

.custom-board-btn:active {
    background-image: none;
    background-color: #005FAC;
}

.uploaded-graphic {
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% - 10px);
    margin-left: -150px;
    z-index: 5
}

@media(min-width: 500px){
    .uploaded-graphic {
        height: 350px;
        width: 350px;
        margin-top: -270px;
        margin-left: -175px;
    }
}

@media(min-width: 750px){
    .uploaded-graphic {
        height: 400px;
        width: 400px;
        margin-left: -200px;
        margin-top: -340px;
    }
}

@media(min-width: 1000px){
    .custom-graphic-container {
        height: calc(100vh - 132px);
        display: flex;
    }

    .custom-image {
        height: calc(100vh - 350px);
        width: 680px;
    }

    .custom-board-buttons-div {
        width: 320px;
        box-sizing: border-box;
        padding-top: 160px;
        display: flex;
        flex-direction: column;
    }

    .custom-graphic-container h5 {
        display: none;
    }

    .custom-board-buttons-div h6 {
        display: initial;
        margin-right: 50px;
    }

    .custom-board-btn {
        width: 250px;
        margin: 5px 50px 0px 0px;
        border-radius: 20px;
    }

    .custom-graphic-container p {
        width: 250px;
        margin-top: 20px;
        margin-left: 10px;
        text-align: center;
    }

    .uploaded-graphic {
        top: 500px;
        margin-top: -300px;
        margin-left: -450px;
    }
}