.Header {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    background-color: #1D1D26;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

.Bars {
    color: white;
    margin-right: 10px;
    font-size: 20px;
}

.Bars:hover {
    color: #84818E;
}

.Bars:active {
    color: white;
}

.Logotext:link {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.Logotext:visited {
    text-decoration: none;
    color: white;
}

.Logotext:hover {
    color: #84818E;
}

.Logotext:active {
    color: white;
}

.expanded-logo {
    display: none;
}

.user-icon {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.user-icon:hover {
    color: #84818E;
}

.user-icon:active {
    color: white;
}

.shopping-cart {
    color: white;
    font-size: 20px;
}

.shopping-cart:hover {
    color:#84818E;
}

.shopping-cart:active {
    color: white;
}

.Dropdownmenu{
    height: 100vh;
    width: 200px;
    box-sizing: border-box;
    position: fixed;
    padding-top: 40px;
    background-color: #4D5359;
    box-shadow: 5px 0px 5px #1D1D26;
    color: white;
    animation: expand .2s;
    z-index: 19;
}

.Dropdownlinks {
    text-align: left;
    margin: 0px 10px;
    padding: 5px 0px;
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    white-space: nowrap;
    transition: font-size .1s linear;
}

.Registermodal {
    height: 50%;
    width: 95%;
    background-color: black;
    position: fixed;
    border-radius: 20px;
    margin-top: 100px;
}

@keyframes expand {
    0% {
        height: 100vh;
        width: 0px;
    }
    100% {
        height: 100vh;
        width: 200px;
    }
}

@media(min-width: 500px){
    .Header {
        height: 50px;
        padding: 0px 14px;
    }
    .Bars {
        font-size: 24px;
        margin-right: 14px;
        margin-top: 5px;
    }
    .Logotext:link {
        font-size: 24px;
    }
    .user-icon {
        font-size: 24px;
    }
    .shopping-cart {
        font-size: 24px;
        margin-left: 2px;
    }
    .Dropdownmenu {
        width: 300px;
        padding-top: 50px;
    }
    .Dropdownlinks {
        font-size: 18px;
        padding: 7px 0px;
    }
    @keyframes expand {
        0% {
            height: 100vh;
            width: 0px;
        }
        100% {
            height: 100vh;
            width: 300px;
        }
    }
}

@media(min-width: 1000px){
    .Header {
        height: 55px;
        padding: 0px 25px;
    }

    .Bars {
        font-size: 28px;
        margin-right: 25px;
    }

    .Logotext:link {
        font-size: 28px;
    }

    .expanded-logo {
        display: initial;
    }

    .user-icon {
        font-size: 28px;
    }

    .shopping-cart {
        font-size: 28px;
        margin-right: 15px;
        margin-left: 10px;
    }

    .Dropdownmenu {
        padding-top: 55px;
    }

    .Dropdownlinks:hover {
        font-size: 22px;
        text-decoration: none;
    }
}