.selected-wheels-top-front-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 12px);
    margin-left: -110px;
    z-index: 1;
}

.selected-wheels-top-back-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 234px);
    margin-left: -112px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-wheels-bottom-front-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 12px);
    margin-right: -112px;
    z-index: 3;
}

.selected-wheels-bottom-back-Pintail {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 234px);
    margin-right: -111px;
    z-index: 3;
    transform: rotate(180deg)
}

.selected-wheels-top-front-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 19px);
    margin-left: -110.5px;
    z-index: 1;
}

.selected-wheels-top-back-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 257px);
    margin-left: -111px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-wheels-bottom-front-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 19px);
    margin-right: -111px;
    z-index: 3;
}

.selected-wheels-bottom-back-Drop {
    height: 28px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 257px);
    margin-right: -111px;
    z-index: 3;
    transform: rotate(180deg)
}

@media(min-width: 500px){
    .selected-wheels-top-front-Pintail {
        height: 34px;
        margin-top: -285px;
        margin-left: -149px;
    }

    .selected-wheels-top-back-Pintail {
        height: 34px;
        margin-top: 16px;
        margin-left: -151px;
    }

    .selected-wheels-bottom-front-Pintail {
        height: 34px;
        margin-top: -285px;
        margin-right: -150px;
    }

    .selected-wheels-bottom-back-Pintail {
        height: 34px;
        margin-top: 16px;
        margin-right: -151px;
    }

    .selected-wheels-top-front-Drop {
        height: 34px;
        margin-top: -273px;
        margin-left: -149px;
    }

    .selected-wheels-top-back-Drop {
        height: 34px;
        margin-top: 43px;
        margin-left: -150px;
    }

    .selected-wheels-bottom-front-Drop {
        height: 34px;
        margin-top: -273px;
        margin-right: -150px;
    }

    .selected-wheels-bottom-back-Drop {
        height: 34px;
        margin-top: 43px;
        margin-right: -150px;
    }
}