.selected-board-top {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -210px;
    margin-left: -100px;
    z-index: 2;
}

.selected-board-bottom {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: -210px;
    margin-right: -100px;
    z-index: 2;
}

.selected-trucks-top-front-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 10px);
    margin-left: -96px;
    z-index: 1;
}

.selected-trucks-top-back-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 235px);
    margin-left: -96px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-trucks-bottom-front-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 10px);
    margin-right: -96px;
    z-index: 3;
}

.selected-trucks-bottom-back-Pintail {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 235px);
    margin-right: -96px;
    z-index: 3;
    transform: rotate(180deg)
}

.selected-trucks-top-front-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 18px);
    margin-left: -96px;
    z-index: 1;
}

.selected-trucks-top-back-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: calc(-54% + 257px);
    margin-left: -96px;
    z-index: 1;
    transform: rotate(180deg)
}

.selected-trucks-bottom-front-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 18px);
    margin-right: -96px;
    z-index: 3;
}

.selected-trucks-bottom-back-Drop {
    height: 30px;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-top: calc(-54% + 257px);
    margin-right: -96px;
    z-index: 3;
    transform: rotate(180deg)
}

@media(min-width: 500px){
    .selected-board-top {
        height: 400px;
        width: 80px;
        margin-top: -300px;
        margin-left: -140px;
    }

    .selected-board-bottom {
        height: 400px;
        width: 80px;
        margin-top: -300px;
        margin-right: -140px;
    }

    .selected-trucks-top-front-Pintail {
        height: 39px;
        margin-top: -287px;
        margin-left: -133px;
    }

    .selected-trucks-top-back-Pintail {
        height: 39px;
        margin-top: 14px;
        margin-left: -134px;
    }

    .selected-trucks-bottom-front-Pintail {
        height: 39px;
        margin-top: -287px;
        margin-right: -133px;
    }

    .selected-trucks-bottom-back-Pintail {
        height: 39px;
        margin-top: 14px;
        margin-right: -135px;
    }

    .selected-trucks-top-front-Drop {
        height: 39px;
        margin-top: -275px;
        margin-left: -135px;
    }

    .selected-trucks-top-back-Drop {
        height: 39px;
        margin-top: 42px;
        margin-left: -135px;
    }

    .selected-trucks-bottom-front-Drop {
        height: 39px;
        margin-top: -275px;
        margin-right: -133px;
    }

    .selected-trucks-bottom-back-Drop {
        height: 39px;
        margin-top: 42px;
        margin-right: -133px;
    }
}

@media(min-width: 1000px){
    .selected-board-top {
        margin-top: -200px;
        margin-left: -305px;
    }

    .selected-board-bottom {
        margin-top: -200px;
        margin-right: 25px;
    }
    
    .selected-trucks-top-front-Pintail {
        height: 39px;
        margin-top: -185px;
        margin-left: -299px;
    }

    .selected-trucks-top-back-Pintail {
        height: 39px;
        margin-top: 115px;
        margin-left: -299px;
    }

    .selected-trucks-bottom-front-Pintail {
        height: 39px;
        margin-top: -185px;
        margin-right: 31px;
    }

    .selected-trucks-bottom-back-Pintail {
        height: 39px;
        margin-top: 115px;
        margin-right: 30px;
    }

    .selected-trucks-top-front-Drop {
        height: 39px;
        margin-top: -175px;
        margin-left: -300px;
    }

    .selected-trucks-top-back-Drop {
        height: 39px;
        margin-top: 141px;
        margin-left: -300px;
    }

    .selected-trucks-bottom-front-Drop {
        height: 39px;
        margin-top: -175px;
        margin-right: 32px;
    }

    .selected-trucks-bottom-back-Drop {
        height: 39px;
        margin-top: 141px;
        margin-right: 32px;
    }
}