.Footer {
    height: 40px;
    max-width: 100vw;
    box-sizing: border-box;
    padding-top: 8px;
    /* background-color: #02258C; */
    background-color: #1D1D26;
    position: relative;
    z-index: 20;
}

.Copyright {
    margin: 0px;
    color: white;
}

@media(min-width: 500px){
    .Footer {
        height: 50px;
        padding-top: 11px;
    }
    .Copyright {
        font-size: 18px;
    }
}

@media(min-width: 1000px){
    .Footer {
        height: 55px;
        padding-top: 13px;
    }
}