.Footer {
    height: 40px;
    width: 100vw;
    box-sizing: border-box;
    padding-top: 8px;
    background-color: #02258C;
    position: relative;
    z-index: 20;
}

.Copyright {
    margin: 0px;
    color: white;
}