h5 {
    margin: 0px;
}

.Design {
    max-height: calc(100vh - 40px);
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
}

.customize-step-prompt {
    height: 40px;
    width: 20vw;
    box-sizing: border-box;
    padding-top: 7px;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
}

.active-customize-step-btn {
    height: 40px;
    width: 16vw;
    background-color: #494949;
    color: white;
    border: 1px solid rgb(186, 186, 186);
}

.customize-step-btn {
    height: 40px;
    width: 16vw;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
}

.custom-board-image-div {
    height: 60vh;
    box-sizing: border-box;
    padding-top: 5px;
    background-image: url('https://s3-us-west-1.amazonaws.com/old-dog-new-trick-longboards-bucket/graphpaper.png');
    background-size: contain;
    border-bottom: 2px solid #343A40;
}

.custom-board-graphics-div {
    height: calc(60vh - 40px);
    box-sizing: border-box;
    padding-top: 5px;
    background-color: gray;
}

.custom-step-name {
    font-size: 24px;
    color: black;
}

.custom-board-parts-div {
    height: calc(100vh - 60vh - 120px);
    max-width: 100vw;
    box-sizing: border-box;
    padding: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    overflow: auto;
}

.custom-parts-card {
    min-height: 110px;
    min-width: 98%;
    background-color: white;
    border-bottom: 2px solid gray;
    box-sizing: border-box;
    margin: 5px 0px;
    padding: 0px 30px;
    display: flex;
    justify-content: space-around;
}

/* below are placeholders for the custom parts div placement */

.custom-part-image {
    max-height: 100px;
    color: white;
}

.custom-part-info {
    width: 100px;
    margin-top: 30px;
    text-align: center;
}

.custom-part-info p {
    font-size: 25px;
}

.selected-board {
    height: 300px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -54%;
    margin-left: -30px;
    z-index: 2;
}

@media(min-width: 500px){
    .Design {
        padding-top: 50px;
    }

    .selected-board {
        height: 400px;
        width: 80px;
        top: 50%;
        margin-top: -300px;
        margin-left: -40px;
    }
}

@media(min-width: 750px){
    
}