.Boards {
    min-height: calc(100vh - 40px);
    box-sizing: border-box;
    padding-top: 40px;
    text-align: left;
}

.selected-boards {
    min-height: calc(100vh - 56px);
    box-sizing: border-box;
    padding-top: 40px;
}

.Filter-group {
    position: fixed;
}

.Filterby {
    height: 30px;
    width: 34vw;
    box-sizing: border-box;
    padding-top: 1px;
    background-color: whitesmoke;
    border: 1px solid rgb(186, 186, 186);
    text-align: center;
}

.Filter-dropdownbutton {
    height: 30px;
    width: 33vw;
    background-color: whitesmoke;
}

.Dropdown-option-div {
    text-align: center;
    color: black;
}

.Design-links {
    text-decoration: none;
    color: black;
}

.boardsflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
}

.custom-card {
    height: 335px;
    width: 90%;
    text-align: center;
    border: 1px solid lightgray; 
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-btn-group {
    width: 100%;
}

.boards-custom-btn1 {
    height: 32px;
    width: 48%;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);
    color: white;
    border: 1px solid gray;
    border-radius: 5px 0px 0px 5px;
    border: .5px solid #011D6E;
}

.boards-custom-btn2 {
    height: 32px;
    width: 48%;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);
    color: white;
    border: 1px solid gray;
    border-radius: 0px 5px 5px 0px;
    border: .5px solid #011D6E;
}

.selected-board-price {
    height: 40px;
    width: 27vw;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);
    color: white;
    font-size: 17px;
    text-align: center;
    border: .5px solid #011D6E;
    box-sizing: border-box;
    padding-top: 7px;
}

.selected-board-dropdownbutton {
    height: 40px;
    width: 23vw;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);
    color: white;
    border: .5px solid #011D6E;
}

.selected-board-btn {
    height: 40px;
    width: 50vw;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);    
    color: white;
    border: .5px solid #011D6E;
}

.customize-board-btn {
    height: 40px;
    width: 100vw;
    background-image: linear-gradient(#002AA7, #02258C, #002AA7);    
    border: .5px solid #011D6E;
    color: white;
}

.mobile-customize-board-btn {
    display: none;
}

.selected-board-description {
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
}

.authentication-modal {
    height: 335px;
    width: 90%;
    background-color: white;
    position: fixed;
    top: 13%;
    left: 50%;
    margin-left: -45%;
    border-radius: 10px;
    border: 1px solid lightgray;
    z-index: 10;
}

@media(min-width: 500px){
    .Boards {
        padding-top: 50px; 
    }
    .Filterby {
        height: 35px;
        padding-top: 4px;
    }
    .Filter-dropdownbutton {
        height: 35px;
    }
    .boardsflex {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0px 55px;
    }
    .custom-card {
        width: 300px;
        margin: 10px 0px;
    }
}